@media screen and (min-width:1200px){
    .container{
        width: 1158px;
    }
    /* ------team----- */
    .section-card { 
        padding-top: 120px;
        padding-bottom: 120px;
        /* padding: 120px 156px; */
    }
    .header-team {
        margin-bottom: 72px;
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        
    }
    .card-item {
        width: calc((100% - 72px) / 4);
        width: 264px;
        max-width:100%
    } 
    .cust-icons-item{
        width: calc((100% - 120px ) / 6)
    }
}