@media screen and (min-width:768px){
    .container{
        width: 768px;
        
    }
    /* ---- header---- */
    .header{
        padding: 0;
        /* padding-top: 24px; */
        /* padding-bottom: 22px; */
        /* padding-bottom: 12px; */
    }
    .header-logo{
/* margin-right: 76px; */
/* margin-left: 0; */
    }
    .header-navis{
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
    }
    .header-list{
        display: flex;
        align-items: center;
        gap: 40px;
        margin-right: 118px;
        margin-left: 123px;
    }
    .header-contact{
        display: block;
        /* gap: 40px; */
        gap:6px;
        padding-top: 24px;
        padding-bottom: 12px;
        /* padding-bottom: 12px; */
        
    }
    .header-link.current::after {
        bottom: -34px;
    }
    .header-menu-btn{
        display: none;
    }
/*-----SECTIONS-SOLUTIONS-----*/
    .solutions-text {
        font-weight: 700;
        font-size: 56px;
    }
    /* ---- solutions 4 items---- */

.solutions-subtitle {   
    padding-top: 96px;
    padding-bottom: 96px;
    
}
.solutions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
/* row-gap: 72px; */
    /* width: calc((100% - 24px) / 2); */
    
}
.solutions-item {
    width: 356px;
}
.item-hard{
    display: block;
    
}
.hard-text { 
    display: flex;
}
    /* -----team---- */
    .section-card { 
        padding-top: 96px;
        padding-bottom: 104px;
        
    }
    .header-team {
        /* margin-bottom: 72px; */
    }
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
        
    }
    .card-item {
        width: calc((100% - 24px) / 2);
        width: 264px;
        max-width: 100%;
        
    }
    /* -------customers------ */
    .cust-icons-list  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        row-gap: 72px;
        /* padding: 0 108px; */
        /* flex-basis: calc((100% - 48px) / 3) */
    }
    .cust-icons-item{
        flex-basis: calc((100% - 24px) / 3);
        max-width: 168px;
    }
    .cust-icons-item{
        width: 168px;
    }
    

    /*-----FOOTER-----*/
    .footer > .container{
        display:flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        justify-content: left;
        width: 552px;
        column-gap: 24px;
        /* row-gap: 72px; */
        
    }
    .logo-box{
        /* margin-right: 24px; */
    }
    .footer-logo {
        justify-content: flex-start;
    }
    .footer-text{
        width: 264px;
    }
    .soc-box{
        margin: 0;
    }
    .subscribe-box > .container{
        display: block;
        margin-top: 0;
        /* align-items: flex-start; */
        justify-content: left;

    }
    .footer-soc-title{
        /* display: flex; */
        /* justify-content: flex-start; */
        /* justify-content: center; */
    }
    .subscribe-title{
        display: block;
    }
    .subscribe-form{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    } 
    .subscribe-input {
        width: 264px;
    }
    .subscribe-button{
        margin: 0;
        
    }

    /* -----portfolio page----- */
    .button-list{
        gap: 24px;
        margin-bottom: 72px;
        justify-content: center;
    }
    .potrfolio-list {
        display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    width: calc((100% - 24px) / 2);
    /* width: 768px; */
    /* --items:2; */
    padding-left: 16px;
    padding-right: 16px;
    column-gap: 24px;
    row-gap: 72px;
    }
    .potrfolio-list{
        --items: 2;
        }
    .portfolio-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* width: calc((100% - 24px) / 2); */
        /* width: 356px; */
        width: calc((100% - 24px) / 2);
        
    }
    .portfolio-item{
        /* width: 356px; */
        /* max-width: 100%; */
    }
    .portfolio-img{
        width: 356px;
        height: 300px;
    }
}